# Kubernetes Access Template for GitLab

KUBECONFIG: |
  apiVersion: v1
  clusters:
  - cluster:
      server: https://dev.k8s.local
      certificate-authority-data: <base64-cert>
    name: dev-cluster
  - cluster:
      server: https://test.k8s.local
      certificate-authority-data: <base64-cert>
    name: test-cluster
  - cluster:
      server: https://prod.k8s.local
      certificate-authority-data: <base64-cert>
    name: prod-cluster
  contexts:
  - context:
      cluster: dev-cluster
      user: gitlab
    name: dev-cluster
  - context:
      cluster: test-cluster
      user: gitlab
    name: test-cluster
  - context:
      cluster: prod-cluster
      user: gitlab
    name: prod-cluster
  current-context: dev-cluster
  kind: Config
  preferences: {}
  users:
  - name: gitlab
    user:
      token: ${K8S_TOKEN}